*
{   
    font-family: comic m sans;
    font-style: text;
    color: white;
}

body
{
    box-sizing: border-box;
    background-image: url("https://unsplash.com/photos/Z4r8t1V2xRg");
    background: cover;
}

html
{
    
}
