*
{   
    font-family: comic m sans;
    color: white;
}

body
{
    box-sizing: border-box;
    background-image: url("https://unsplash.com/photos/Z4r8t1V2xRg");
    background: cover;
}

p
{
    font-size: 6px;
    font-style: italics;   
}

h4
{
    font-size: 16px;
    font-weight: bold;
    font-style: underline;
}
